<% if current_user %>
  <h1>Good day <%= current_user.name %></h1>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>
  <p><%= link_to 'Sign in', new_user_session_path %></p>
  <p><%= link_to 'Register', new_user_registration_path %></p>
<% end %>
